[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
matplotlib = "*"
networkx = "*"
ruamel-yaml = "*"
deepdiff = "*"

[requires]
python_version = "3.10"
